<form action="/">
    What's your name?
    <br>
    <input type="text" name="name" value="" id="nameInput">
    <br> What's your email address?
    <br>
    <input type="text" name="email" value="" id="emailInput">
    <br> What's your location?
    <br>
     <select class="custom-select my-1 mr-sm-2" name="location" id="locationInput">
        <option value="">Choose...</option>
        <option value="Toronto">Toronto</option>
        <option value="Montreal">Montreal</option>
        <option value="Ottawa">Ottawa</option>
    </select>
    <br> Is the patient 13 and younger or over 13?
    <select class="custom-select my-1 mr-sm-2" id="chosingAge">
        <option value="">Choose...</option>
        <option value="<13">13 and under</option>
        <option value=">13">13 and over</option>
    </select>
    <!-- one is required -->
    <div class="symptomOption">
    What're your main symptoms?
    <br>
    <input type="checkbox" name="symptom1" value="Fever">Fever
    <br>
    <input type="checkbox" name="symptom2" value="Headache">Headache
    <br>
    <input type="checkbox" name="symptom3" value="Skin Irritations">Skin irritations
    <br>
    <input type="checkbox" name="symptom4" value="Joint/Muscle Pain">Joint/Muscle Pain
    <br>
    <input type="checkbox" name="symptom5" value="Toothache">Toothache
    <br>
    <input type="checkbox" name="symptom6" value="Broken Tooth">Broken Tooth
    <br>
    <input type="checkbox" name="symptom7" value="Seisure">Seisure
    <br>
    <input type="checkbox" name="symptom8" value="Chest Pain">Chest Pain
    <br>
    <input type="checkbox" name="symptom9" value="Numbness">Numbness
    <br>
    <input type="checkbox" name="symptom10" value="Migrains">Migrains
    <br>
    <br> Do you prefer a female or male doctor?
    <br>
    <div id="gender">
    <input type="radio" name="gender" value="Male" checked> Male
    <br>
    <input type="radio" name="gender" value="Female"> Female
    </div>
    <br>
    </div>
    <input type="submit" value="Submit" id="reqTest">
</form>
