<form action="/api/data" method="POST">

        What's your name?
        <br>
        <input type="text" name="firstname" value="">
        <br>
        What's your email address?
        <br>
        <input type="text" name="email" value="">
        <br>
        What's your location?
        <br>
        <input type="text" name="location" value="">
        <br>
        What're your main symptoms?
        <br>
            <input type="checkbox" name="symptom1" value="Cough">Cough<br>
            <input type="checkbox" name="symptom2" value="Sore Throat">Sore Throat<br>
            <input type="checkbox" name="symptom3" value="Fatigue">Fatigue<br>
            <input type="checkbox" name="symptom4" value="Fever">Fever<br>

        <br>
        Do you prefer a female or male doctor?
        <br>
        <input type="radio" name="gender" value="male" checked> Male<br>
        <input type="radio" name="gender" value="female"> Female<br>
        


        <input type="submit" value="Submit">
      </form>