<div class="container">
    <div class="jumbotron">

      <h2>Get Easy Access to a
        <span> Doctor</span>
        <br>Anywhere</h2>
      <div>
        <a href="/form" class="btn-get-started scrollto">Patients</a>
        <a href="/login" class="btn-projects scrollto">Doctors</a>
      </div>

    </div>
  </div>

  <!-- Template Main Javascript File -->
  <script src="js/main.js"></script>