<h2 class="form-heading">Register</h2>
  <form class="form-signin app-cam" action="index.html">
      <p>Enter your personal details below</p>
      <input type="text" class="form-control1" placeholder="Full Name" autofocus="">
      <input type="text" class="form-control1" placeholder="Address" autofocus="">
      <input type="text" class="form-control1" placeholder="Email" autofocus="">
      <input type="text" class="form-control1" placeholder="City/Town" autofocus="">
      <div class="radios">
        <label for="radio-01" class="label_radio">
            <input type="radio" checked=""> Male
        </label>
        <label for="radio-02" class="label_radio">
            <input type="radio"> Female
        </label>
	  </div>
	  <p> Enter your account details below</p>
      <input type="text" class="form-control1" placeholder="User Name" autofocus="">
      <input type="password" class="form-control1" placeholder="Password">
      <input type="password" class="form-control1" placeholder="Re-type Password">
      <label class="checkbox-custom check-success">
          <input type="checkbox" value="agree this condition" id="checkbox1"> <label for="checkbox1">I agree to the Terms of Service and Privacy Policy</label>
      </label>
      <button class="btn btn-lg btn-success1 btn-block" type="submit">Submit</button>
      <div class="registration">
          Already Registered.
          <a class="" href="login.html">
              Login
          </a>
      </div>
  </form>